[project]
	description = Scaloid makes your Android code easy to understand and maintain.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Young-Jun Kim (Salada)
[access "refs/for/refs/*"]
	read = group user/Young-Jun Kim (Salada)
	push = group user/Young-Jun Kim (Salada)
	label-Code-Review = -2..+2 group user/Young-Jun Kim (Salada)
	label-Verified = -1..+1 group user/Young-Jun Kim (Salada)
	rebase = group user/Young-Jun Kim (Salada)
	removeReviewer = group user/Young-Jun Kim (Salada)
	submit = group user/Young-Jun Kim (Salada)
[access "refs/heads/*"]
	read = group user/Young-Jun Kim (Salada)
	create = group user/Young-Jun Kim (Salada)
	push = +force group user/Young-Jun Kim (Salada)
	pushMerge = group user/Young-Jun Kim (Salada)
[access "refs/tags/*"]
	push = +force group user/Young-Jun Kim (Salada)
	pushTag = group user/Young-Jun Kim (Salada)
	pushSignedTag = group user/Young-Jun Kim (Salada)
